# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VSC
.vscode


# Android

*.iml
*/.gradle
/local.properties
*/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# MQTT

/mqtt/data
/mqtt/log

# Secrets
/arduino/smartcar/secrets.hpp
